body {
  background-color: #333;
  color: chartreuse;
  text-align: center;
  padding-top: 50px;
  font-size: 15px;
}

h1 {
  font-size: 36px;
}

#go {
  border-color: chartreuse;
  border-radius: 5px;
  padding: 10px;
  background-color: #333;
  color: chartreuse;
  font-size: 18px;
  text-decoration: none;
  border: solid 1px chartreuse;
}

#scopes {
  color: chartreuse;

  background-color: #333;
  font-size: 26px;
}
